@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --colorbg1: /* #352f44 */ #393646;
  --colorbg2: /* #b9b4c7*/ #f4eee0;
  --colorfont: #5c5470;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--colorbg1);
  color: var(--colorbg1);
}
.wrapper {
  width: 380px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--colorbg2);
}
.wrapper header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form {
  margin: 40px 0 20px 0;
}
/* jo bhi form me input select or button ayega vhn pr ye css apply hojaegi */
form :where(input, select, button) {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
}
form p {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
}
form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
}
form input:focus {
  padding: 0 15px;
}
form .drop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.drop-list .select-box {
  display: flex;
  height: 45px;
  width: 115px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--colorfont);
}
.select-box select {
  width: auto;
  background: var(--colorbg2);
  margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar {
  width: 8px;
}
.select-box select::-webkit-scrollbar-track {
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb {
  background-color: var(--colorbg1);
  border-radius: 8px;
  border-right: 2px solid #fff;
}
.select-box img {
  max-width: 25px;
}
.drop-list .icon {
  font-size: 22px;
  cursor: pointer;
  margin-top: 30px;
}
form .exchange-rate {
  margin: 20px 0 30px;
  font-size: 17px;
  font-weight: 500;
}

form button {
  height: 52px;
  background-color: var(--colorbg1);
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}
