body{
    font-family: Arial, Helvetica, sans-serif;
  
}
.clock-dial{
    width:500px;
    height:500px;
    border :20px solid #145656 ;
    border-radius:50%;
    margin:auto;
    position:relative; /* to center the clock */
}
.clock-point{
    width:20px;
    height:20px;
    background-color: #767676;
    position:absolute;
    top:240px;
    left:240px;
    border-radius: 50%;

}
.hour{
    font-size: 30px;
    color:#000000;
    font-weight: 700;
    position: absolute;
}
.hour-1{
    top:40px;
    right:130px;

}
.hour-2{
    top: 125px;
    right:45px;

}
.hour-3{
    top: 235px;
    right:10px;

}
.hour-4{
    top: 345px;
    right:45px;

}
.hour-5{
    top: 430px;
    right:130px;

}

.hour-6{
    bottom:10px;
    left:240px;

}
.hour-7{
    bottom:35px;
    left:130px;
}
.hour-8{
    top:345px;
    left:45px;
}
.hour-9{
    top:235px;
    left:10px;
}
.hour-10{
    top:125px;
    left:45px;
    
}
.hour-11{
    top:40px;
    left:130px;
}
.hour-12{
    top:10px;
    left:235px;
}
.brand{
    position:absolute;
    font-size: 45px;
    font-weight: 800;
    color:#145656;
    top:130px;
    left:150px;
}
.minute-hand-wrapper{
    width:400px;
    height:400px;
    position:absolute;
    top:50px;
    left:50px;
    border-radius:50%;

}
.minute-hand{
    position:relative;

}
.minute-hand .hand{
    width:6px;
    height:200px;
    background-color: #7a7878;
    position:absolute;
    left:198px;
}
.minute-hand .arrow{
    font-size:40px;
    font-weight:700;
    color:#777777;
    position:absolute;
    left:189.5px;
    top:-11px;
    
}
.hour-hand-wrapper{
    width:300px;
    height:300px;
    position:absolute;
    top:100px;
    left:100px;
    border-radius:50%;

}
.hour-hand{
    position:relative;

}
.hour-hand .hand{
    width:8px;
    height:150px;
    background-color: #757575;
    position:absolute;
    left:148px;
}
.hour-hand .arrow{
    font-size:40px;
    font-weight:800;
    color:#757575;
    position:absolute;
    left:139.5px;
    top:-19px;
    
}
.second-hand-wrapper{
    width:350px;
    height:350px;
    position:absolute;
    top:75px;
    left:75px;
    border-radius:50%;

}
.second-hand{
    position:relative;

}
.second-hand .hand{
    width:2px;
    height:180px;
    background-color: #757272;
    position:absolute;
    left:175px;
}